<!DOCTYPE html>
<html>
<head>
	<title>Iniciar sesión</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#85A3AD">


    <link rel="stylesheet" href="https://app-inventar.herokuapp.com/public/style.css">
    
    <link rel="stylesheet" href="https://app-inventar.herokuapp.com/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://app-inventar.herokuapp.com/public/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://app-inventar.herokuapp.com/public/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="https://app-inventar.herokuapp.com/public/css/style.css">
    <link rel="shortcut icon" href="https://app-inventar.herokuapp.com/public/images/favicon.png" />
    <link rel="stylesheet" href="https://app-inventar.herokuapp.com/public/vendors/iconfonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <script type="text/javascript" src="https://app-inventar.herokuapp.com/public/js/config.js"></script>
	  <script type="text/javascript" src="https://app-inventar.herokuapp.com/angular/angular.min.js"></script>
	  <script type="text/javascript" src="https://app-inventar.herokuapp.com/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/app.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/factory/request.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/routes/dashboardRoutes.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/controllers/userController.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/controllers/loginController.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/controllers/dashboardController.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/controllers/employeeController.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/controllers/warehouseController.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/controllers/productController.js"></script>
    <script type="text/javascript" src="https://app-inventar.herokuapp.com/controllers/orderController.js"></script>


    <base href="/">
</head>
<body ng-app="Manager" ng-controller="mainController">

 <div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background:#354856">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img src="https://app-inventar.herokuapp.com/public/images/Logo.png" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
          <img src="https://app-inventar.herokuapp.com/public/images/Logo-min.PNG" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center" >
        
        <ul class="navbar-nav navbar-nav-right">
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text text-truncate" style="margin-right: 0%!important; font-size: 8pt">Hola<span class="hidden-xs-down">,{{userName}}</span></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              
              <a class="dropdown-item pointer" ng-click="logout()">
                Cerrar sesión
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <h6 style="text-align: center;">{{selectedCompany}}</h6>
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <button class="btn btn-success btn-block" data-toggle="modal" data-target="#newCompany">Nueva compañia
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </li>


          <li class="nav-item">
              <a class="nav-link" href="/companies" ng-click="disableMenu()">
                <i class="menu-icon mdi mdi-store"></i>
                <span class="menu-title">Compañias</span>
              </a>
          </li>

          <div ng-if="companySelected">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard"  ng-click="disableMenu()">
                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/employee" ng-click="disableMenu()">
                <i class="menu-icon mdi mdi-account-multiple"></i>
                <span class="menu-title">Empleados</span>
              </a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link" href="/warehouse" ng-click="disableMenu()">
                <i class="menu-icon mdi mdi-cube"></i>
                <span class="menu-title">Almacenes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products" ng-click="disableMenu()">
                <i class="menu-icon mdi mdi-gift"></i>
                <span class="menu-title">Productos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order" ng-click="disableMenu()">
                <i class="menu-icon mdi mdi-receipt"></i>
                <span class="menu-title">Ordenes</span>
              </a>
            </li>
          </div>
          
        </ul>
      </nav>
      
      <div class="main-panel" style="background: #f2f8f9; height: calc(100vh - 63px); overflow-y: auto;">
        <div ng-view style=" margin: 5%"></div>
      </div>


      <div class="modal fade" id="newCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="background: white">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar compañia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form ng-submit="newCompany()">
              <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label" for="name">Nombre:</label>
                    <input type="text" placeholder="Nombre de la compañia" title="Ingrese el nombre de la compañia" required class="form-control" ng-model="name">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="name">Dirección:</label>
                    <input type="text" placeholder="Dirección de la compañia" title="Ingrese el nombre de la compañia" required class="form-control" ng-model="dir">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="name">Celular:</label>
                    <input type="number" placeholder="55521585" title="Ingrese su telefono" class="form-control" ng-model="cellphone">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="name">Imagen:</label><br>
                    <input type="file" ng-model="form.myfile"  onchange="angular.element(this).scope().uploadedFileApp(this)" accept="image/*" id="fileUploadImage">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Agregar compañia</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

	<div id="snackbar">Some text some message..</div>

    
    <script src="https://app-inventar.herokuapp.com/public/vendors/js/vendor.bundle.base.js"></script>
    <script src="https://app-inventar.herokuapp.com/public/vendors/js/vendor.bundle.addons.js"></script>
    <script src="https://app-inventar.herokuapp.com/public/js/off-canvas.js"></script>
    <script src="https://app-inventar.herokuapp.com/public/js/misc.js"></script>
    <script src="https://app-inventar.herokuapp.com/public/js/dashboard.js"></script>
    <script src="https://app-inventar.herokuapp.com/public/js/qrCode.min.js"></script>  
    <script src="https://app-inventar.herokuapp.com/public/js/moment.js"></script>  
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
      document.querySelector(".main-panel").addEventListener("click", function(){
          $(".sidebar").removeClass("active");
      });


    </script>
</body>
</html>